body {
	padding-top: 70px
}

.cnzz {
	text-indent: -9999px
}

.advertising div {
	height: 300px
}

.container-content {
	padding-top: 10px;
	line-height: 20px;
	padding-bottom: 50px;
	text-align: center
}

.container-content p {
	padding-bottom: 20px
}

.json-handler .panel-title {
	line-height: 30px
}

.json-handler pre {
	min-height: 300px
}

.json-handler textarea {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	min-height: 300px
}

.beian {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.beian_m {
    display: none;
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
 
	.beian {
		display: none;
	}

	.beian_m {
		display: block;
	}
}

.random_group {
	position: relative;
	margin-bottom: 18px;
	border-bottom: 1px solid #ddd
}

.random_input {
	float: right;
	position: absolute;
	right: 0;
	bottom: 7px
}

.random_input_number {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 10px;
	height: 30px;
	width: 100px
}